<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" /> 
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <p>
      <a href="http://dog.jd.com/dogtest.do?key=text" target="message">一般文字消息</a><br/>
      <a href="http://dog.jd.com/dogtest.do?key=image" target="message">图片消息</a>
      <a href="http://dog.jd.com/dogtest.do?key=textSysDiagStart" target="message">问诊开始消息</a><br/>
      <a href="http://dog.jd.com/dogtest.do?key=textSysDiagEnd " target="message">问诊结束消息</a><br/>
      <a href="http://dog.jd.com/dogtest.do?key=textTipsRx" target="message">处方变更</a><br/>
      <a href="http://dog.jd.com/dogtest.do?key=rxTemplate2 " target="message">处方单消息</a><br/>
      <a href="http://dog.jd.com/dogtest.do?key=diagTemplate2" target="message">发问诊单模版消息</a>
      
    </p>
    <iframe id='message' name="message" width="80%" height="60%" style="border:0"></iframe>
  </body>
</html>